{% extends "wrapper.html" %}

{% block title %}Чек{% endblock %}

{% block content %}
    <h1>Чек</h1>
    <div class="order-info">
        <h3>Ваше замовлення</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>${{ item.total_price }}</span>
                </li>
            {% endfor %}
        </ul>
        <p>Загалом: ${{ cart.get_total_price }}</p>
    </div>
    <form method="post">
        {% csrf_token %}
        <table class="form form-table">
            {{ form }}
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-info right">Зробити замовлення</button>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}