{% extends "wrapper.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}Чек{% endblock %}

{{% block content %}
    <div class="add-container">
        <h1>Ваше замовлення</h1>
        <div class="check">
            <ul>
                {% for item in cart %}
                    <li>
                        <span>{{ item.quantity }}x {{ item.product.name }}</span>
                        <span>${{ item.total_price }}</span>
                    </li>
                {% endfor %}
            </ul>
            <p>Загалом: ${{ cart.get_total_price }}</p>
        </div>
        <div class="add-wares">
            <form method="post">
                {% csrf_token %}
                <table class="check-table">
                    {{ form }}
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-info">Зробити замовлення</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}