{% extends "wrapper.html" %}
{% load static %}
{% block title %}
    Додати товар
{% endblock %}
{% block content %}
    <h1>Новий товар</h1>
    <form method="post">
        {% csrf_token %}
        <p>Категорія: {{ form.category }}</p>
        <p>Назва товару: {{ form.name }}</p>
        <p>Посилання: {{ form.slug }}</p>
        <p>Зображення: {{ form.image }}</p>
        <p>Опис: {{ form.description }}</p>
        <p>Ціна: {{ form.price }}</p>
        <p>Кількість: {{ form.stock }}</p>
        <p>Видимість: {{ form.available }}</p>
        <p>
             <button type="submit" class="btn btn-info right">Додати</button>
        </p>
    </form>
{% endblock %}