{% extends "wrapper.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}Вхід{% endblock %}
{% block content %}
    <div class="login-form">
        <div class="form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}"/>
                <p><input type="submit" value="Log-in"></p>
            </form>
        </div>
    </div>
{% endblock %}