{% extends "wrapper.html" %}
{% load static %}
{% block title %}
    Користувачі
{% endblock %}
{% block content %}
    <div id="main">
        <div class="ui-menu-item">
            <h3>Користувачі</h3>
            <a href="{% url 'staff_create' %}">
                <button class="add-category">+</button>
            </a>
        </div>
        <div class="staff-list">
            {% for staff_user in page_obj %}
                <table class="users-table" border="1">
                    <tr>
                        <td><p><b>{{ staff_user.username }}</b></p></td>
                        <td>{% if staff_user.is_superuser %}<p>Користувач є адміністратором.</p>{% else %}<p>Користувач не є адміністратором.</p>{% endif %}</td>
                        <td>{% if staff_user.first_name %}<p>{{ staff_user.first_name }}</p>{% else %}<p>Ім'я не задано.</p>{% endif %}</td>
                        <td>{% if staff_user.last_name %}<p>{{ staff_user.last_name }}</p>{% else %}<p>Прізвища не задано.</p> {% endif %}</td>
                        <td>{% if staff_user.email %}<p>{{ staff_user.last_name }}</p>{% else %} <p>E-Mail не вказано.</p>{% endif %}</td>
                        <td>{% if staff_user.is_active %}<p>Статус користувача: активний.</p>{% else %}<p>Статус користувача: неактивний.</p>{% endif %}</td>
                        <td>{% if staff_user.last_login %}  <p>Останній вхід: {{ staff_user.last_login }}</p>{% else %}<p>Користувач ще не входив в аккаунт.</p>{% endif %}</td>
                        <td><p>Дата реєстрації: {{ staff_user.date_joined }}</p></td>
                        <td><a href="{% url 'staff_update' pk=staff_user.id %}" class="btn"><button class="edit-btn">Редагувати</button></a></td>
                        <td><a href="{% url 'staff_delete' pk=staff_user.id %}" class="btn-danger"><button class="delete-btn">Видалити</button></a></td>
                    </tr>
                </table>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; На початок</a>
            <a href="?page={{ page_obj.previous_page_number }}">Попередня</a>
        {% endif %}
                <span class="current">
            Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}.
        </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Наступна</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Остання &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}