{% extends "wrapper.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    Додати користувача
{% endblock %}
{% block content %}
    <div class="add-container">
        <h1>Новий користувач</h1>
        <div class="add-wares">
            <form method="post">
                {% csrf_token %}
                <p>Нікнейм користувача: {{ form.username }}</p>
                <p>Ім'я користувача: {{ form.first_name }}</p>
                <p>Прізвище користувача: {{ form.last_name }}</p>
                <p>E-Mail користувача: {{ form.email }}</p>
                <p>Доступ до адмін-панелі: {{ form.is_staff }}</p>
                <p>Активний статус: {{ form.is_active }}</p>
                <p>Має всі дозволи: {{ form.is_superuser }}</p>
                <p>Пароль: {{ form.password }}</p>
                <p>Підтвердіть пароль: {{ form.confirm_password }}</p>
                <p>
                    <button type="submit" class="btn btn-info right">Додати</button>
                </p>
            </form>
        </div>
    </div>
    <script src="{% static 'js/UsernameValidator.js' %}"></script>
{% endblock %}