{% extends "wrapper.html" %}
{% load static %}
{% block title %}
    Оновити користувача
{% endblock %}
{% block content %}
    <div class="add-container">
        <h1>Новий користувач</h1>
        <div class="add-wares">
            <form method="post">
                {% csrf_token %}
                <table class="edit-user-table">
                    <tr>
                        <td>Нікнейм користувача:</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>Ім'я користувача:</td>
                        <td>{{ form.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Прізвище користувача:</td>
                        <td>{{ form.last_name }}</td>
                    </tr>
                    <tr>
                        <td>E-Mail користувача:</td>
                        <td>{{ form.email }}</td>
                    </tr>
                    <tr>
                        <td>Доступ до адмін-панелі:</td>
                        <td>{{ form.is_staff }}</td>
                    </tr>
                    <tr>
                        <td>Активний статус:</td>
                        <td>{{ form.is_active }}</td>
                    </tr>
                    <tr>
                        <td>Має всі дозволи:</td>
                        <td>{{ form.is_superuser }}</td>
                    </tr>
                </table>
                <p>
                    <button type="submit" class="btn btn-info right">Оновити</button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}